* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #E8E8E8;
    letter-spacing: 4px;
    text-align: center;
    padding: 0 0.4rem;
}

span {
    padding: 0 0.2rem;
    font-size: 12px;
    color: #4CB493;
	letter-spacing: 2px;
}

.container {
    /* Mobile */
    width: 100%;
    background-color: #222222;

    /* Tablet */
    @media (min-width: 768px) {
        width: 60%;
        max-height: 50%;
    }

    /* Laptop */
    @media (min-width: 1024px) {
        width: 50%;
        max-height: 40%;
    }
}

.profile-card {
    width: 100%;
}

.profile-card img {
    width: 100%;
    object-fit: cover;
}

.profile-info {
    width: 100%;
    position: relative;
    margin-top: 40px;
}

.profile-pic {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    top: -70px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    max-width: 120px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
}


.link {
    background-color: #E8E8E8;
    border: 2px solid salmon;
}

.line {
    line-height: 2px;
    color: cornsilk;
}